{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>UME Registration</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/register.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>
    <img src="{% static 'images/logo1.png'  %}" height=120px, alt="UME Logo" style="margin-top: 20px;">
    <h2>Create Your Account</h2>

<form method="post">
    {% csrf_token %}

    <div>
    
        {{ form.full_name }}
        {% for error in form.full_name.errors %}
            <p class="error">{{ error }}</p>
        {% endfor %}
    </div>

    <div>
        
        {{ form.date_of_birth }}
        {% for error in form.date_of_birth.errors %}
            <p class="error">{{ error }}</p>
        {% endfor %}
    </div>

    <div>
        
        {{ form.email }}
        {% for error in form.email.errors %}
            <p class="error">{{ error }}</p>
        {% endfor %}
    </div>

    <div>
        
        {{ form.username }}
        {% for error in form.username.errors %}
            <p class="error">{{ error }}</p>
        {% endfor %}
    </div>

    <div>
    
        {{ form.password1 }}
        {% for error in form.password1.errors %}
            <p class="error">{{ error }}</p>
        {% endfor %}
    </div>

    <div>
        
        {{ form.password2 }}
        {% for error in form.password2.errors %}
            <p class="error">{{ error }}</p>
        {% endfor %}
    </div>

    <button type="submit" class="button">Submit</button>
</form>

{% if messages %}
    <ul>
        {% for message in messages %}
            <li class="{{ message.tags }}">{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}
<!--    <form method="post">
        {% csrf_token %}
        {{ form.full_name }}
        {{ form.date_of_birth }}
        {{ form.email }}
        <div class="radio-group-fb">
  {% for radio in form.gender %}
        <label class="radio-box">
            {{ radio.tag }}
            <span>{{ radio.choice_label }}</span>
        </label>
    {% endfor %}
</div>


        {{ form.username }}
        <!--<button type="button" class="button">Availability</button> 
        {{ form.password1 }}
        {{ form.password2 }}
        <button type="submit" class="button">Submit</button>
    </form>
-->
    <div class="link">
        <p><strong>Already have an Account &nbsp;</strong> <a href="{% url 'login' %}">Click here to Login</a></p>
    </div>
    <footer class="footer-fixed">
        <p>&copy; 2025 UME Limited. All rights reserved.</p>
    </footer></body>
</html>
