{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile Page</title>
    <link rel="icon" type="image/png" href="{% static 'images/me-snip.jpg' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/profile.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

    <!-- Logo -->
    <div class="logo">
        <img src="{% static 'images/logo1.png' %}" alt="Logo">
    </div>

    <!-- Horizontal Menu -->
    <div class="horizontal-menu">
        <a href="{% url 'home' %}" title="Home">
            <img src="{% static 'images/homeicon.png' %}" alt="Home">
        </a>
        <a href="{% url 'bestie_list' %}" title="Besties">
            <img src="{% static 'images/group.png' %}" alt="Group" style="width:100px;">
        </a>
        <a href="{% url 'search_bestie' %}" title="Add Your Bestie">
            <img src="{% static 'images/add-user.png' %}" alt="Add User">
        </a>
        <a href="{% url 'settings' %}" title="Settings">
            <img src="{% static 'images/settings.png' %}" alt="Settings">
        </a>
    </div>

    <hr style="background-color: orangered; height: 4px; border: none;">

    {% block content %}{% endblock %}

    <form action="{% url 'logout' %}" method="post" class="logout-form">
        {% csrf_token %}
        <button type="submit" class="logout-button">Logout</button>
    </form>

    <footer class="footer-fixed">
        <p>&copy; 2025 UME Limited. All rights reserved.</p>
    </footer>

</body>
</html>
